extends layouts/default

block content
    main(role="main").content-box.main
        - query_posts( array('post_type' => array('event', 'post'), 'showposts' => 6));
        - if (have_posts()):
            - while (have_posts()):
                - the_post();
                article.post.content-box__post(class=get_post_type())
                    - $thumb = wp_get_attachment_url( get_post_thumbnail_id($post->ID))
                    figure.thumbnail.post__thumbnail(style='background-image: url('+ $thumb + ')')
                    h2.title.post_title
                        a.link(href=esc_url( get_permalink() ))
                            - the_title()
                    p.date.post__date
                        - the_time( get_option( 'date_format' ) )
                    p.text.post__text
                        - if ($content = get_the_excerpt() ):
                            - echo $content
                        - endif
                    a.button.post__button(href=esc_url( get_permalink() ))
                        | Číst dál
            - endwhile
        - endif

    aside.content-box.content-box--aside.content-box--rss
        - query_posts( array('post_type' => array('krizovatka'), 'showposts' => 6));
        - if (have_posts()):
            - while (have_posts()):
                - the_post();
                article.post.content-box__post(class=get_post_type())
                    h2.title.post_title
                        a.link(href=esc_url( get_permalink() ))
                            - the_title()
                    p.date.post__date
                        - the_time( get_option( 'date_format' ) )
                    p.text.post__text
                        - if ($content = get_the_excerpt() ):
                            - echo $content
                        - endif
                    a.button.post__button(href=esc_url( get_permalink() ))
                        | Číst dál
            - endwhile
        - endif
    aside.content-box.content-box--aside.content-box--fb
        - $fb_posts = fb_get_last_posts(5)
            - foreach($fb_posts as $fb_post):
                article.post.post--fb(class=$fb_post['post_type'])
                    p.autor.post__autor
                        - print esc_html($fb_post['author_name'])
                    p.date.post__date
                        - print date(get_option('date_format'), strtotime($fb_post['created_time']))
                    p.text.post__text
                        - print esc_html($fb_post['message'])
                    a.link(href=$fb_post['permalink'])
                        | Číst dál
            - endforeach
