doctype html
html(lang=get_bloginfo('language'))
    head
        meta(charset!=bloginfo('charset'))
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1')

        title!=wp_title( ' | ', true, 'right' ) . bloginfo( 'name' )

        meta(name='description', content!=bloginfo('description'))
        meta(name='author', content='Dominik Bláha / www.dombl.cz')

        meta(property='og:title', content!=wp_title( ' | ', true, 'right' ))
        meta(property='og:description', content!=bloginfo('description'))
        meta(propertu='og:url', content!=esc_url( home_url( '/' )))
        meta(property='og:type', content='article')
        meta(property='og:image', content='')
        meta(property='og:image:width', content='')
        meta(property='og:image:height', content='')
        meta(name='twitter:card', content='summary_large_image')

        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i', rel='stylesheet')

        link(rel='shortcut icon', href=get_template_directory_uri() + '/favicon.ico', type='image/x-icon')

        link#stylesheet(rel='stylesheet ', href=get_template_directory_uri() + '/dist/first.min.css', media='screen')
        //link(rel='stylesheet', href='dist/print.min.css', media='print')

        - wp_head()
    body(class=implode(' ', get_body_class()))

        - include_once 'dist/symbol/shapes.svg'

        block top

        .container
            svg.container__border.container__border--top
                use(xlink:href='#border-top')

            include ../parts/header

            block content

            include ../parts/sidebar

            svg.container__border.container__border--bottom
                use(xlink:href='#border-bottom')

            .color-switcher
                button.color-switcher-button.first(data-stylesheet=get_template_directory_uri() + '/dist/first.min.css')
                button.color-switcher-button.second(data-stylesheet=get_template_directory_uri() + '/dist/second.min.css')
                button.color-switcher-button.third(data-stylesheet=get_template_directory_uri() + '/dist/third.min.css')

        include ../parts/footer

        block bottom

        script(src='https://code.jquery.com/jquery-2.2.0.min.js')
        script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js')
        script(src=get_template_directory_uri() + '/dist/scripts.min.js')
